// Empty the containers
$('.top_players_table').empty();

// Update the total mappings count
$('h2.total_mappings').text('<%= @reviewed_mappings_count %>');

// Update the total reviews count
$('h2.total_reviews').text('<%= @reviews.count %>');

// Update the traffic lights
$('.green_light span.percentage').text(' <%= @green_mappings.count.percent_of(@mappings.count).round(2) %>%');
$('.amber_light span.percentage').text(' <%= @amber_mappings.count.percent_of(@mappings.count).round(2) %>%');
$('.red_light span.percentage').text(' <%= @red_mappings.count.percent_of(@mappings.count).round(2) %>%');

// Update the top players table
<% count = 0 %>
<% @users.each do |user| %>
   <% count += 1 %>
  $('.top_players_table').append('<tr><td><%= count %></td><td><%= user.name %></td><td><%= user.score %></td></tr>');
<% end %>
