<div class="left_col">
  <div class="main_progress_container">
    <h2>Total Mappings Closed</h2>
    <div class="well">
      <h2> <%= @closed_tags.count.percent_of(@all_tags_count)%>% <span><%= @closed_tags.count %> of <%= @all_tags_count %></span></h2>
      <div class="progress progress-success">
      <div class="bar" style="width: <%= @closed_tags.count.percent_of(@all_tags_count)%>%;"></div>
      </div>
    </div>
  </div>
  <div class="traffic_lights_container">
    <div class="green_light">
      <%= image_tag 'green_light.png' %> 
      <span>50%</span>
      <span>500 of 1000</span>
    </div>
    <div class="amber_light">
      <%= image_tag 'amber_light.png' %> 
       <span>25%</span>
       <span>250 of 1000</span>
    </div>
    <div class="red_light">
      <%= image_tag 'red_light.png' %> 
       <span>25%</span>
       <span>250 of 1000</span>
    </div>
  </div>
  <div class="mosaic_container">
     <h2>Mappings Mosaic</h2>
      <% @mappings.each do |x| %>
        <div>
           <%= x.score %> 
        </div>
      <% end %>
     <% @closed_tags.each do |tag| %> 
       <span class="closed_tag">

       </span>
     <% end %>
  </div>
</div>
<div class="right_col">
  <div class="top_players_container">
    <h2>Top Players</h2>
    <table border="0" cellpadding="0" cellspacing="0">
      <tbody>

        <tr>
          <td>1</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>4</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>5</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>6</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>7</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>8</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>9</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

        <tr>
          <td>10</td>
          <td>Ian Alexander Wood</td>
          <td>14234</td>
        </tr>

      </tbody>
    </table>
    
  </div>
  <div class="top_teams_container">
    
  </div>
</div>
