<section class="mapping_info">
  <div class="left">
    <h1><%= @mapping.title %></h1>
    <div class="result">
      <% if @mapping.status == 301 %>
        &rarr; <%= @mapping.new_url %>
      <% elsif @mapping.status == 410 %>
        &rarr; Gone
      <% else %>
        No decision
      <% end %>
    </div>
  </div>

  <div class="buttons right">
    <%= form_tag do %>
      <%= submit_tag "OK" %>
      <%= submit_tag "Unsure" %>
      <%= submit_tag "Needs Review" %>
    <% end %>
  </div>
  <div class="clear"></div>
</section>

<iframe style="float: left;" class="left" src="<%= @mapping.old_url %>"></iframe>
<iframe style="float: right;" class="right" src="<%= @mapping.new_url %>"></iframe>