<% content_for :custom_assets do %>
  <%= javascript_include_tag "browser" %>
<% end %>
<section class="mapping_info">
  <div class="left">
    <h1 id="mapping_title"><%= link_to format_title(@mapping.title), @mapping.old_url, :target => 'blank' %></h1>
    <div id="mapping_result" class="result">
      <% if @mapping.status == 301 %>
        &rarr; <%= link_to @mapping.new_url, @mapping.new_url, :target => 'blank' %>
      <% elsif @mapping.status == 410 %>
        &rarr; Gone
      <% else %>
        No decision
      <% end %>
    </div>
  </div>

  <div class="right">
    <div class="buttons">
      <%= form_tag review_path(@mapping.id) do %>
        <%= submit_tag "✔", button_attributes_for(@review, "positive") %>
        <%= submit_tag "?", button_attributes_for(@review, "neutral") %>
        <%= submit_tag "✘", button_attributes_for(@review, "negative") %>
      <% end %>
    </div>
<!--     <div class="comment">
      <a href="#">+</a>
    </div> -->
  </div>
  <div class="clear"></div>
</section>

<div id="overlay"></div>
<iframe id="mapping_old_page" class="left" src="<%= @mapping.old_url %>"></iframe>
<iframe id="mapping_new_page" class="right" src="<%= @mapping.new_url %>"></iframe>

<script type="text/javascript">
<!--
var browse_section = "<%= @section %>";
-->
</script>