<!DOCTYPE html>
<html>
<head>
  <title>Review-O-Matic</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :custom_assets %>
  <%= csrf_meta_tags %>
</head>
<body class="browser">

  <header>
    <h1 class="left"><%= link_to "Review-O-Matic", root_path %></h1>

    <%- if current_user -%>
    <h2 class="center"><% if !@section.blank? %>Section &mdash; <%= format_tag @section %><% end %></h2>
    <div class="right">Welcome, <%= current_user.name %> <span class="user_score"><%= current_user.score %></span></div>
    <%- end -%>

    <div class="clear"></div>
  </header>
  <%= yield %>
</body>
</html>
