<!DOCTYPE html>
<html>
<head>
  <title>Reviewomatic</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :custom_assets %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Review-O-Matic</h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
