<!DOCTYPE html>
<html>
  <head>
    <title>Reviewomatic</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield :custom_assets %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1 class="left">Review-O-Matic</h1>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
