<!DOCTYPE html>
<html>
<head>
  <title>Review-O-Matic</title>
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :custom_assets %>
  <%= csrf_meta_tags %>
</head>
<body class="browser">

  <header>
    <h1 class="left">
      <%= link_to "Review-O-Matic", root_path %>
    </h1>

    <%- if current_user -%>

      <h2 class="center"><% if !@section.blank? %>Section &mdash; <%= format_tag @section %><% end %></h2>

      <div class="right">
        Welcome, <%= current_user.name %>
      </div>
    <%- end -%>

    <div class="clear"></div>
  </header>

  <% flash.each do |name, message| %>
    <p class="flash flash_<%= name %>"><%= message %></p>
  <% end %>

  <%= yield %>
</body>
</html>
